
            <!--################ BOTTOM SECTION START ################-->

            <section id="bottom" class="paddingbot20">

                <div class="row center">

                    <h2>as seen on the</h2>
                </div>
                <div class="container">
                    <div class="row center">
                        <div class="as-seen">
                            <div class="span2">
                                <%= image_tag('client-1.png', alt:"Tc") %>
                            </div>
                            <div class="span2">
                                <%= image_tag('client-2.png', alt:"Tc") %>
                            </div>
                            <div class="span2">
                                <%= image_tag('client-3.png', alt:"Tc") %>
                            </div>
                            <div class="span2">
                                <%= image_tag('client-4.png', alt:"Tc") %>
                            </div>
                            <div class="span2">
                                <%= image_tag('client-5.png', alt:"Tc") %>
                            </div>
                            <div class="span2">
                                <%= image_tag('client-6.png', alt:"Tc") %>
                            </div>

                        </div>


                    </div>
                </div>

            </section>

            <!--################ BOTTOM SECTION END ################-->