           <!--################ PORTFOLIO SECTION START ################-->

            <section class="portfolio home-portfolio">

                <div class="container" id="portfolio">

                    <div class="row">
                        <div class="span12 center">
                            <h1 class="big-heading">Portfolio</h1>
                            <h4 class="sub-heading">see come of our cool projects...</h4>



                        </div>


                    </div>
                    <div class="row">
                        <div class="span12">
                            <div id="filters_container">
                                <ul id="filters">
                                    <li><a href="http://uexel.us/themes/purity/onepage/wide/#" data-filter="*" class="active">All</a></li>
                                    <li class="separator">/</li>
                                    <li><a href="http://uexel.us/themes/purity/onepage/wide/#" data-filter=".video">Video</a></li>
                                    <li class="separator">/</li>
                                    <li><a href="http://uexel.us/themes/purity/onepage/wide/#" data-filter=".art">Art</a></li>
                                    <li class="separator">/</li>
                                    <li><a href="http://uexel.us/themes/purity/onepage/wide/#" data-filter=".illustration">Illustration</a></li>
                                    <li class="separator">/</li>
                                    <li><a href="http://uexel.us/themes/purity/onepage/wide/#" data-filter=".print">Print</a></li>
                                    <li class="separator">/</li>
                                    <li><a href="http://uexel.us/themes/purity/onepage/wide/#" data-filter=".web">Web</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>        
                    <div class="row isotope" id="portfolio-container" style="position: relative; overflow: hidden; height: 704px;">
                        <div class="span3 project art isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(0px, 0px, 0px);">

                            <%= image_tag('project1.jpg', alt: "", class: "project-img") %>
                            <span class="overlay"></span>
                            <div class="cnt">
                                <h5>Image</h5>

                                <a href="./Purity Bootstrap Business Theme_files/project1.jpg" class="fancybox-media btn btn-normal" data-title-id="title-01" rel="portfolio">View details</a>
                            </div>

                            <div id="title-01" class="info hidden">
                                <h2>Image Detials</h2>
                                <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="http://uexel.us/themes/purity/onepage/wide/#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                            </div>



                        </div>



                        <div class="span3 project web isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(300px, 0px, 0px);">

                            <%= image_tag('landscape-heart.jpg', alt:"", class: "project-img") %>
                            <span class="overlay"></span>
                            <div class="cnt">
                                <h5>Project</h5>

                                <a href="http://uexel.us/themes/purity/onepage/wide/#" class=" btn btn-normal">View details</a>
                            </div>



                        </div>

                        <div class="span3 project video isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(600px, 0px, 0px);">

                            <%= image_tag('project1.jpg', alt:"", class: "project-img")%>
                            <span class="overlay"></span>
                             <div class="cnt">
                                <h5>Video</h5>

                                <a href="http://vimeo.com/24030911" class="fancybox-media btn btn-normal" data-title-id="title-03" rel="portfolio">View details</a>
                            </div>

                            <div id="title-03" class="info hidden">
                                <h2>Image Detials</h2>
                                <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="http://uexel.us/themes/purity/onepage/wide/#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                            </div>





                        </div>

                        <div class="span3 project web print isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(900px, 0px, 0px);">

                            <%= image_tag('landscape-heart.jpg', alt:"", class: "project-img") %>
                            <span class="overlay"></span>
                            <div class="cnt">
                                <h5>Project</h5>

                                <a href="http://uexel.us/themes/purity/onepage/wide/#" class="btn btn-normal">View details</a>
                            </div>





                        </div>
                        <div class="span3 project art print isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(0px, 286px, 0px);">

                            <%= image_tag('landscape-heart.jpg', alt:"", class: "project-img") %>
                            <span class="overlay"></span>
                            <div class="cnt">
                                <h5>Project</h5>

                                <a href="http://uexel.us/themes/purity/onepage/wide/#" class="btn btn-normal">View details</a>
                            </div>





                        </div>
                        <div class="span3 project art web isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(600px, 286px, 0px);">

                            <%= image_tag('landscape-heart.jpg', alt:"", class: "project-img") %>
                            <span class="overlay"></span>
                            <div class="cnt">
                                <h5>Project</h5>

                                <a href="http://uexel.us/themes/purity/onepage/wide/#" class="btn btn-normal">View details</a>
                            </div>





                        </div>
                        <div class="span3 project print web isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(300px, 418px, 0px);">

                            <%= image_tag('project1.jpg', alt:"", class: "project-img") %>
                            <span class="overlay"></span>
                            <div class="cnt">
                                <h5>Project</h5>

                                <a href="http://uexel.us/themes/purity/onepage/wide/#" class="btn btn-normal">View details</a>
                            </div>





                        </div>
                        <div class="span3 project  web isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(900px, 418px, 0px);">

                            <%= image_tag('project1.jpg', alt:"", class: "project-img") %>
                            <span class="overlay"></span>
                            <div class="cnt">
                                <h5>Project</h5>

                                <a href="http://uexel.us/themes/purity/onepage/wide/#" class="btn btn-normal">View details</a>
                            </div>





                        </div>






                    </div>
                </div>


            </section>