<!--################ TESTIMONIALS SECTION START ################-->
    <section id="testimonials">
        <div id="testimonials-background" data-stellar-background-ratio="0.5">

            <h1>Testimonios  <i class="icon-thumbs-up"></i></h1>
            <h2 class="sub-heading-support">Que dicen nuestros clientes</h2>

        </div>
        
        <div class="container">
            <div class="row center margintop40">

                <div id="carousel_fade_2" class="span4 carousel slide carousel-fade">
                    <div class="carousel-inner ">
                        <div class="item  testimonial">

                            <%= image_tag('team2.jpg') %>
                            <h4>Un testimonio</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam.</p>

                        </div>
                        <div class="item  testimonial">
                             <%= image_tag('team2.jpg') %>
                            <h4>Un testimonio</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam.</p>

                        </div>
                        <div class="item  testimonial active">
                            <%= image_tag('team2.jpg') %>
                            <h4>Un testimonio</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam.</p>

                        </div>

                    </div>
                    <button class="carousel-control left car-button" href="#carousel_fade_2" data-slide="prev"><i class="icon-chevron-left"></i></button>
                    <button class="carousel-control right car-button" href="#carousel_fade_2" data-slide="next"><i class="icon-chevron-right"></i></button>


                </div>

                <div id="carousel_vertical_testimonial" class="span4 carousel slide vertical">
                    <div class="carousel-inner">
                        <div class="item testimonial active">

                            <%= image_tag('team2.jpg') %>
                            <h4>Un testimonio</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam.</p>

                        </div>
                        <div class="item  testimonial">
                            <%= image_tag('team2.jpg') %>
                            <h4>Un testimonio</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam.</p>

                        </div>
                        <div class="item  testimonial">
                            <%= image_tag('team2.jpg') %>
                            <h4>Un testimonio</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam.</p>

                        </div>

                    </div>
                    <button class="carousel-control left car-button" href="#carousel_vertical_testimonial" data-slide="prev"><i class="icon-chevron-left"></i></button>
                    <button class="carousel-control right car-button" href="#carousel_vertical_testimonial" data-slide="next"><i class="icon-chevron-right"></i></button>


                </div>
                <div class="span4">

                    <div class="item  testimonial active">

                        <%= image_tag('team2.jpg') %>
                        <h4>Un testimonio</h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
<!--################ TESTIMONIALS  SECTION END ################-->
