<!DOCTYPE html>
<html lang="es" class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" style="overflow-y: hidden;">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Nibyru Software Factory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <%= stylesheet_link_tag "application", media: "all" %>
    <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
    <!--Le HTML5 shim, for IE6-8 support of HTML5 elements--> 
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <%= render 'shared/navigation_bar' %>
    <div id="wrap">
      <%= render 'shared/header' %>
      <%= render 'shared/features_section' %>
      <%= render 'shared/support_section' %>
      <%= render 'shared/portfolio_section' %>
      <%= render 'shared/testimonial_section' %>
      <section id="call-to-action" class="margintop20 marginbot20">
        <div class="call-to-action-link">
          <a href="#"><span style="margin: 0 25px;">Ayudamos a su empresa a entrar al mundo Web</span></a>
        </div>
      </section>
      <%= render 'shared/news_section' %>
      <%= render 'shared/contact_section' %>
      <%= render 'shared/bottom_section' %>
    </div>
    <div id="push"></div>
    <%= render 'shared/footer' %>

    <%= javascript_include_tag 'application' %>

    <!--################ SCROLLBAR ################-->
    <div id="ascrail2000" style="width: 5px; z-index: 9000; position: fixed; top: 0px; height: 100%; right: 0px; opacity: 0;">
      <div style="position: relative; top: 737px; float: right; width: 5px; height: 117px; background-color: rgb(37, 39, 43); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;"></div>
    </div>
  </body>
</html>